<section class="home" *ngIf=getKey()>

  <h2>{{greeting}}, {{userFirstName}}</h2>
  <p class="date">Het is vandaag Woensdag 30 November 2022</p>
  <!-- TODO: echte datum erin -->

  <section class="center">
    <section class="quick-actions">
      <h5>Snel naar</h5>
      <section class="actions">
        <button>
          <i class="fa-solid fa-plus"></i>
          Artikelstof toevoegen
        </button>

        <button (click)="goRestStof()">
          <i class="fa-solid fa-play"></i>
          Reststof verwerken
        </button>

        <button>
          <i class="fa-solid fa-clipboard"></i>
          Order gegevens
        </button>

        <button>
          <i class="fa-solid fa-user"></i>
          Klant gegevens
        </button>

        <button>
          <i class="fa-solid fa-lock"></i>
          Admin pagina
        </button>

        <button>
          <i class="fa-solid fa-right-from-bracket"></i>
          Uitloggen
        </button>
      </section>
    </section>
  </section>

  <img src="assets/images/illustrations/order-delivered.svg" alt="Illustratie Order" class="illustration">

</section>
