<section class="home" *ngIf=getKey()>

  <h3 class="date">Het is vandaag {{ date }}</h3>

  <section class="center">
    <section class="quick-actions">
      <h5>Snel naar</h5>
      <section class="actions">
        <button>
          <i class="fa-solid fa-plus"></i>
          Artikelstof toevoegen
        </button>

        <button (click)="goRestStof()">
          <i class="fa-solid fa-play"></i>
          Reststof verwerken
        </button>

        <button>
          <i class="fa-solid fa-clipboard"></i>
          Order gegevens
        </button>

        <button>
          <i class="fa-solid fa-user"></i>
          Klant gegevens
        </button>

        <button (click)="goAdmin()" *ngIf=getAdminKey() name="admin">
          <i class="fa-solid fa-lock"></i>
          Admin pagina
        </button>

        <button (click)="goAfval()">
          <i class="fa-solid fa-dumpster"></i>
          Afval inzien
        </button>

        <button>
          <i class="fa-solid fa-right-from-bracket"></i>
          Uitloggen
        </button>
      </section>
    </section>
  </section>

  <img src="assets/images/illustrations/order-delivered.svg" alt="Illustratie Order" class="illustration">

</section>
