<section class="home" *ngIf=getKey()>
  <h2>Goedendag</h2>
  <p class="date">Het is vandaag {{date}}</p>

  <section class="center">
    <section class="quick-actions">
      <h5>Snel naar</h5>
      <section class="actions">
        <button (click)="goCategorieToevoegen()">
          <i class="fa-solid fa-plus"></i>
          Categorie toevoegen
        </button>

        <button (click)="goRestStof()">
          <i class="fa-solid fa-play"></i>
          Reststof verwerken
        </button>

        <button (click)="goAdmin()" *ngIf=getAdminKey() name="admin">
          <i class="fa-solid fa-lock"></i>
          Admin pagina
        </button>

        <button (click)="goAfval()">
          <i class="fa-solid fa-dumpster"></i>
          Afval inzien
        </button>

        <button (click)="Logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Uitloggen
        </button>
      </section>
    </section>
  </section>
  <img src="assets/images/illustrations/order-delivered.svg" alt="Illustratie Order" class="illustration">
</section>
