<body>
    <section class="LoginInput">
    <H1>Login</H1><br>
    <p>Welkon terug. Log in met uw account.</p>
      <p class="errMSG">{{ error }}</p>

    <label for="username"></label>
    <input type="text" id="username" name="username" placeholder="username"><br>
    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="password"><br>
      <img src="assets/images/illustrations/inlog.png" alt="Illustratie Order" class="illustration">


      <button name="login" (click)="logserv()">
        Login
    </button>
</section>
</body>
