body{
  background-color: #222f3f;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.registreren{
  margin-top: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: lightgrey;

  background-color: white;

}
H1{
  font-weight: lighter;
  color: rgba(0, 4, 40, 0.87);
  font-size: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: -20px
}
p{
  color: rgba(0, 4, 40, 0.87);
  margin-right: 130px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.errMSG{
  color: red;
}

.radio{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  grid-column: auto;
  margin-left: 40px;
  font-size: 20px;
}
.textInput {
  margin-top: 30px;
  input{
    font-size: 20px;
    width: 80%;
    margin-left: 40px;
    height: 40px;
    border: solid 3px lightgrey;
    border-radius: 8px;
    margin-bottom: 20px;
  }

}
img{
  width: 250px;
}
button{
  margin-right: 10px;
  color: white;
  background-color: #f2802c;
  font-size: 1.2em;
  font-weight: bold;
  height: 40px;
  width: 180px;
  border: solid 1px;
  border-radius: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}
