.container{
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
  width: 40%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgray;
}
h1 {
  font-weight: 400;
  font-size: 250%;
}

label {
  font-size: 150%;
}

body {
  background-color: #E6F3F8;
}

input {
  border: solid 2px gray;
  border-radius: 4px;
  border-color: lightgray;

  height:35px;
  padding: 5px;
  margin: 5px;
}

footer {

  float: right;
}

img {
  height: 300px;
  width: auto;
  float: right;
  position:relative;
  z-index: 2;
  bottom: 220px;

}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}


.row {
  display: flex;
  flex-direction: column;
}

.btn {
  color: white;
  margin-top: 20px;
  background-color: #4bc8b6;
  font-size: 1.2em;
  font-weight: bold;
  height: 50px;
  width: 200px;
  border: solid 1px;
  border-radius: 10px;
  margin-left: 80px;


}
