.afvallijst {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;
  position: relative;
  flex: 1;

  .infotext {
    margin: 0;
    color: #AEB2B6;
    font-size: 0.8em;
  }

  h2 {
    font-weight: lighter;
    color: #002147;
    margin: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .lijst {
    text-align: right;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    //border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0 10px;


    td {
      border: white;
      border-style: solid none;
      padding: 10px;
      background-color: white;
    }

    td:first-child {
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }


    .item {
      margin: 6px;
      padding: 18px;
      border-radius: 5px;
      border: 1px solid #002147;
      overflow: hidden;
      background-color: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }


    .firstitem {
      padding: 6px;
      margin: 0;
      color: #AEB2B6;
      font-size: 0.8em;
      color: #002147;

      .myPRE {
        font-family: Arial, Helvetica, sans-serif;
        tab-size: 35;
        margin: 0;
        color: #AEB2B6;
        font-size: 15px;
      }

    }
  }
}

img {
  position: fixed;
  bottom: 0;
  right: 25px;
  z-index: 0;
  width: 250px;
}

button {
  border-radius: 2px;
  color: white;
  background-color: #002147;
  //margin: 6px;
  font-size: 14px;
  padding: 6px;
  font-weight: bold;
  border: solid 1px #002147;
}
