<section class="afvallijst">
  <section class="center" *ngIf=getkey()>
    <h2>Te verwerken stoffen ({{orderlijst.length}})</h2>
    <p class="infotext">Lijst van alle stoffen die verwerkt moeten worden</p>
    <table id="table" class="lijst">
      <tr>
        <th>Artikelnummer</th>
        <th>Gewicht</th>
        <th>Metrage</th>
        <th>Samenstelling</th>
        <th>Kleur</th>
        <th>Klant ID</th>
        <th>Knop</th>

      </tr>

      <tr *ngFor="let row of this.sizeArray" class="item">
        <td>{{this.orderlijst[row].artikelnr}}</td>
        <td>{{this.orderlijst[row].gewicht}}</td>
        <td>{{this.orderlijst[row].metrage}}</td>
        <td>{{this.orderlijst[row].samenstelling}}</td>
        <td>{{this.orderlijst[row].kleur}}</td>
        <td>{{this.orderlijst[row].klantid}}</td>
        <td><button (click)="onVerwerk(this.orderlijst[row])">Verwerk</button></td>
      </tr>

    </table>

  </section>
  <section class="result">
    <app-resultaat-verwerken-stof [hidden]="!hasProcessed" [resultOfProcessing]="responeData"></app-resultaat-verwerken-stof>
    <app-resultaat-details [resultOfProcessing]="responeData"></app-resultaat-details>
  </section>
  <img src="./assets/images/undraw_collecting_re_lp6p.svg">
</section>
