body{
  background-color: #222f3f;
  display: flex;
  width: 100%;
}
.lijst{
  width: 80%;

  margin-left: 10%;
}
H1{
  font-size: 20px;
  color: #ecf0f9;
}
button{
  display: block;
  color: #ecf0f9;
  font-size: 100%;
  background-color: #222f3f;
  width: 90%;
  height: 10%;
  margin-top: 15px;
  outline: none;
  border: solid 2px lightgrey;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  i{
    margin-right: 10px;
    color: #4ac6b5;
  }
}

img{
  position: relative;
  top: 10%;
  right: 20px;
  width: auto;
  z-index: 0;
  height: 40%;
}
