body{
  background-color: #222f3f;
  display: flex;
  width: 100%;
}
.lijst{
  width: 80%;

  margin-left: 20%;
}
H1{
  //font-size: 50px;
}
button{
  font-size: 200%;
  background-color: #222f3f;
  width: 50%;
  height: 10%;
  margin-top: 15px;
  outline: none;
  border: solid 1px white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  text-align: left;
  font-weight: 600;
}

img{
  position: fixed;
  bottom: 0;
  right: 25px;
  width: 250px;
  z-index: 0;
}
