.navbar {
  display: block;

  button {
    border: none;
    background: none;
    width: 100%;
    height: 12vh;
    i {
      max-width: 100%;

      max-height: 100%;
      text-align: center;
      font-size: 2.7em;
      color: #424040;
    }
  }

  img {
    position: center;
    align-self: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;
    size: 2.7em;
  }
}

