<section class="afvalpagina">
  <h2>Informatie over afval</h2>
  <p class="infotext">Bekijk hier hoeveel afvalstof er nog is van elke categorie.</p>


  <section class="center">

    <section class="tabel">
      <table id="afvaltabel">
        <tr id="firstrow">
          <th>Afvalcategorie</th>
          <th>Aanwezig in kilogram</th>
          <th>Aanwezig in meter</th>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
            <span>A1</span>
              <div class="dropdown-content">
                <p>100% PL of <br> 100% PES</p>
                <button (click)="onZieLijst('a1')">Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
              <span>A2</span>
              <div class="dropdown-content">
                <p>50% PL of PES en <br> <99% PL of PES <br> + Overig</p>
                <button>Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
              <span>A3</span>
              <div class="dropdown-content">
                <p>>20% PL of PES en <br> <49% PL of PES <br>+ Overig</p>
                <button>Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
              <span>B1</span>
              <div class="dropdown-content">
                <p>100% CO</p>
                <button>Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
              <span>B2</span>
              <div class="dropdown-content">
                <p>100% LI</p>
                <button>Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>
        </tr>

        <tr>
          <th>
            <div class="categoriecel">
              <span>B3</span>
              <div class="dropdown-content">
                <p>100% TREVIRA</p>
                <button>Zie lijst</button>
              </div>
            </div>
          </th>
          <td>2</td>
          <td>3</td>

        </tr>

      </table>
    </section>

  </section>
  <img src="./assets/images/undraw_collecting_re_lp6p.svg">

</section>
