.afvalpagina {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;
  position: relative;
  flex: 1;

  .infotext {
    margin: 0;
    color: #AEB2B6;
    font-size: 0.8em;
  }

  h2 {
    font-weight: lighter;
    color: #002147;
    margin: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin: auto;
  }

  #afvaltabel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;

    button {
      border-radius: 2px;
      color: white;
      background-color: #002147;
      margin: 6px;
      padding: 6px;
      font-weight: bold;
      border: solid 1px #002147;
    }
    p {
      margin: 2px;
      padding: 5px;
    }

    th {
      text-align: center;
    }

    th, td {
      border: 1.5px solid #AEB2B6;
      padding: 8px;
      font-size: 16px;
      text-align: center;
    }

    .categoriecel {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      border-radius: 5px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      white-space: pre-wrap
    }

    .categoriecel:hover .dropdown-content {
      display: block;
    }

    tr {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      color: #002147;
      height: 45px;
    }

    #firstrow th {
      background-color: #002147;
      color: white;
    }

    #firstrow td{
      border: 0;
    };

    tr:nth-child(even) {
      background-color: #a2e1d8;
    }

    tr:nth-child(odd) {
      background-color: white;
    }

    tr:hover {
      background-color: #f89043;
    }
  }
}

img {
  position: fixed;
  bottom: 0;
  right: 25px;
  z-index: 0;
  width: 250px;
}

