<section class="afvallijst">
  <h2>Afvalcategorie {{name}}</h2>
  <p class="infotext">Alle afvalstoffen in categorie {{name}}</p>
  <section class="center">
    <table class="lijst">
      <tr>
        <th>Ordernummer</th>
        <th>Metrage</th>
        <th>Gewicht</th>
        <th>Samenstelling</th>
        <th>Klant ID</th>
      </tr>

      <tr *ngFor="let row of this.sizeArray" class="item">
        <td>{{this.afvallijstData[row].ordernr}}</td>
        <td>{{this.afvallijstData[row].metrage}} m</td>
        <td>{{this.afvallijstData[row].gewicht}} kg</td>
        <td>{{this.afvallijstData[row].samenstelling}}</td>
        <td>{{this.afvallijstData[row].klantid}}</td>
      </tr>
    </table>
  </section>
  <img src="./assets/images/undraw_collecting_re_lp6p.svg">
</section>


