<section class="afvallijst">
  <h2>Afvalcategorie A1</h2>
  <p class="infotext">Alle afvalstoffen in categorie A1</p>
  <section class="center">
    <table class="lijst">
      <tr>
        <th>Nummer</th>
        <th>Metrage</th>
        <th>Gewicht</th>
        <th>Samenstelling</th>
        <th>Klant ID</th>
        <th>Ordernummer</th>
      </tr>


      <tr class="item">
        <td>1</td>
        <td>34 m</td>
        <td>6 kg</td>
        <td>100% PL</td>
        <td>103832</td>
        <td>SKDCFN-DNI3IA</td>
      </tr>

      <tr class="item">
        <td>Afvalstof 1</td>
        <td>34 m</td>
        <td>6 kg</td>
        <td>100% PL</td>
        <td>103832</td>
        <td>SKDCFN-DNI3IA</td>
      </tr>
    </table>
    <!--<ul class="lijst">
      <li class="firstitem"><pre class="myPRE">Nummer&#9;metrage&#9;gewicht&#9;samenstelling&#9;klantid</pre></li>
      <li class="item"><pre class="myPRE2">Afvalstof 1&#9;56m&#9;60kg&#9;100%PL&#9;103823</pre></li>
      <li class="item">afvalstof 3</li>
    </ul>-->
  </section>
  <img src="./assets/images/undraw_collecting_re_lp6p.svg">
</section>


