.box {
  padding: 3px 10px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.labelBtn {
  margin: 8px;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 9px;
  border: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-height: 840px) {
  .box {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  h2 {
    font-size: large;
  }
}

@media (max-height: 800px) {
  h2 {
    visibility: hidden;
    position: absolute;
  }
}

